.container{
  width:500px;
  border:1px dashed;
  font-size:17px;
  margin:0 auto;
}
a{
  text-decoration:none;
  color:#000;
}
.container .header{
  width:100%;
  height:35px;
}
.container .header .title h3{
  font-size:17px;
  float:left;
}
.container .header .more{
  float: right;
  margin-top:18px;
}
.container .header .more a{
  margin-right:5px;
}
.container .content{
  clear:both;
  height:200px;
  padding-top:10px;
  padding-left:5px;
  border-top:1px dashed;
  border-bottom:1px dashed;
}
.container .footer{
  height:35px;
  margin-top:18px;
  margin-right:5px;
}
.container .footer .confirm{
  float:right;
  margin-left:10px;
}
.container .footer .cancel{
  float:right;  
}